<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- adding record audio  permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- adding local storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <meta-data android:name="com.google.android.gms.common.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/LoginTheme"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistrationActivity"
            android:label="Registration"
            android:parentActivityName=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.recad.RegistrationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:parentActivityName=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="com.example.recad.HomeActivity" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VoiceMenuActivity"
            android:label="VoiceMenu"
            android:parentActivityName=".HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.recad.VoiceMenuActivity" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RecordingActivity"
            android:label="Recording"
            android:parentActivityName=".VoiceMenuActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.recad.RecordingActivity" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Recording"
            android:label="Record"
            android:parentActivityName=".VoiceMenuActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.recad.Recording" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.recad.SettingsActivity" />
                <category android:name="android.intent.category.SETTINGS" />
            </intent-filter>
        </activity>

    </application>



</manifest>